/ /. NAV SIDE


%h2 Tracks
%ul.tracks
  - @goalOptions.each do |goal_option|
    %li #{goal_option.name}


/ /. ROW
%hr/
/ /. PAGE INNER
/ /. PAGE WRAPPER
/ /. WRAPPER
/ SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME
/ JQUERY SCRIPTS
%script{:src => "assets/js/jquery-1.10.2.js"}
/ BOOTSTRAP SCRIPTS
%script{:src => "assets/js/bootstrap.min.js"}
/ METISMENU SCRIPTS
%script{:src => "assets/js/jquery.metisMenu.js"}
/ CUSTOM SCRIPTS
%script{:src => "assets/js/custom.js"}